@model CadastroClientes.App.Models.ClienteCreateEditViewModel

@{
    ViewData["Title"] = "Cadastrar";
}

<h1>Cadastrar</h1>

@if (ViewData.ModelState.ErrorCount > 0)
{
    <div style="padding-top: 15px;"></div>

    <div class="alert alert-danger alert-dismissible" role="alert" style="padding-bottom: 0px">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
}

@if (TempData["Sucesso"] != null)
{
    <div id="msg_box" class="alert alert-success alert-dismissible" role="alert">
        <i class="fa-regular fa-circle-check"></i>
        <strong id="msgRetorno">@Html.Raw(TempData["Sucesso"].ToString())</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<hr/>
<form asp-action="Create">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h5>Dados do Cliente</h5>
            <hr/>
            <div class="form-group">
                <label asp-for="NomeFantasia" class="control-label"></label>
                <input asp-for="NomeFantasia" class="form-control"/>
                <span asp-validation-for="NomeFantasia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RazaoSocial" class="control-label"></label>
                <input asp-for="RazaoSocial" class="form-control"/>
                <span asp-validation-for="RazaoSocial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cnpj" class="control-label"></label>
                <input asp-for="Cnpj" class="form-control"/>
                <span asp-validation-for="Cnpj" class="text-danger"></span>
            </div>
            <br/>
            <h5>Endereço</h5>
            <hr/>
            <div class="form-group">
                <label asp-for="Endereco.Logradouro" class="control-label"></label>
                <input asp-for="Endereco.Logradouro" class="form-control"/>
                <span asp-validation-for="Endereco.Logradouro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco.Numero" class="control-label"></label>
                <input asp-for="Endereco.Numero" class="form-control"/>
                <span asp-validation-for="Endereco.Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco.Bairro" class="control-label"></label>
                <input asp-for="Endereco.Bairro" class="form-control"/>
                <span asp-validation-for="Endereco.Bairro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco.Cidade" class="control-label"></label>
                <input asp-for="Endereco.Cidade" class="form-control"/>
                <span asp-validation-for="Endereco.Cidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco.Estado" class="control-label"></label>
                <input asp-for="Endereco.Estado" class="form-control"/>
                <span asp-validation-for="Endereco.Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco.Pais" class="control-label"></label>
                <input asp-for="Endereco.Pais" class="form-control"/>
                <span asp-validation-for="Endereco.Pais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco.Cep" class="control-label"></label>
                <input asp-for="Endereco.Cep" class="form-control"/>
                <span asp-validation-for="Endereco.Cep" class="text-danger"></span>
            </div>
        </div>
    </div>
    <br/>
    <div class="form-group">
        <a class="btn btn-secondary" asp-action="Index"><i class="fa-solid fa-reply"></i> Voltar</a>
        <button type="submit" class="btn btn-primary"><i class="fa-regular fa-square-check"></i> Cadastrar</button>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>
        $(".alert-success").fadeTo(8000, 500).slideUp(500, function () {
            $(".alert-success").alert('close');
        });
    </script>
}